@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700")

body {
  /*background-color: #F5F5FA;*/
  /*color: #B5B7CE*/
  font-family: 'Open Sans' sans-serif;
  font-weight: 300;
  font-size:20px;
  line-height:1.6;
}

h1 {
  color: rgb(58, 65, 111);
  font-family: 'Poppins';
  font-size: 32px;
  line-height: 1.6;
  font-weight:900;
}

h2 { color: #51B3BD ;
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 1.6;
}

h3 { color: rgb(58, 65, 111);
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 1;
  font-weight:300;
}


a {text-decoration: none;
  color: #596BFC;
}

a:hover {
  color:#7B86FC;
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: #F5F5FA;
}

.card {
  background-color: white;
  margin: 0px auto;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0px 10px 15px rgba(0 0 0 0.1);
  margin-top:30px;
  border: 1px solid lightgrey;
  text-align: center;
}

.img-circle {
  border-radius: 50%
}

.btn-blue {
  background-color:#6E7AFC;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bolder;
}
.list-inline {
  list-style: none;
  padding-left: 0px
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.fab {
font-size: 23px;
}
.text-bio {
  padding-bottom: 10px;
}

@media (max-width: 960px) {

  .container {
    width: 100%;
  }

  .card {
    width: 70%;
  }
}
